@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";


@theme{
    --font-outfit: "Outfit", sans-serif;
    --font-lexend: "Lexend", sans-serif;
    --font-dmSans: "DM Sans", sans-serif;
    --font-rubik: "Rubik", sans-serif;
    --font-inter: "Inter", sans-serif;

    --color-cyan : #00c0e8;
    --color-green : #34c759;
    --color-red: #ff383c;
    --color-red100: #F6001A;
    --color-red200: #F3C1C7;
    --color-yellow: #ffcc00; 
    --color-yellow100: #422C05;
    --color-yellow200: #DC9A06;
    --color-yellow300: #CAA873;
    --color-yellow400: #E9CB38;
    --color-yellow500: #EACE08;
    --color-yellow600: #E8D99D;
    --color-yellow700: #D39C1D;
    --color-orange: #ff8d28;
    --color-orange100: #F66202;
    --color-orange200: #E78B04;
    --color-orange300: #E86401;
    --color-mint : #00C8B3;
    --color-blue: #0088FF;
    --color-blue100: #003A9F;
    --color-blue200: #0A66C2;
    --color-blue300: #071E3F;
    --color-blue400: #5FB7E4;
    --color-blue500: #1E2633;
    --color-blue600: #062C59;
    --color-blue700: #1765D0;
    --color-blue800 : #1877F2;
    --color-blue900: #99B4E2;
    --color-blue950: #0D2B57;
    --color-indigo : #6155F5;
    --color-purple: #CB3CFF;
    --color-purple100: #4B209E;
    --color-purple200: #7A1E9B;
    --color-purple300: #6750A4;
    --color-brown: #B2631C;
    --color-brown100: #392914;
    --color-brown200: #433008;
    --color-brown300: #362D13;
    --color-brown400: #533502;
    --color-brown500 : #674F3B;
    --color-brown600: #2A2010;
    --color-green100: #13A13E;
    --color-green150: #0A3622;
    --color-green250: #94CCAE;
    --color-tertiary: #4ab1d9;
    --color-slate100: #626262;
    --color-slate200: #1A2834;
    --color-slate300: #D9D9D9;
    --color-slate400 : #9A9DA6;
    --color-slate500: #333333;
    --color-slate600: #808080;
    --color-green200: #094A32;
    --color-green300: #05C16833;
    --color-green350: #7FDF9F;
    --color-green400 : #06342D;
    --color-green450: #0D3021;
    --color-green500: #104534;
    --color-green550: #082920;
    --color-green600: #2A3141;
    --color-green650: #031F16;
    --color-green700: #1AA043;
    --color-green750: #1BE859;
    --color-green800: #027C75;
    --color-green850: #234D30;
    --color-green900: #127531;
    --color-neutral100 : #AEB9E1;
    --color-neutral200: #0B1739;
    --color-violet: #28171E;
    --color-surface950: #0a0e14;
    --color-surface900: #0e1420;
    --color-surface800: #141b2d;
    --color-surface700: #1c2440;
    --color-surface600: #2a3358;
    --color-surface500: #3a4470;
}